@page
@model PrivacyModel
@{
    ViewData["Title"] = "Daniel Viana";
}
<h1>@ViewData["Title"]</h1>

<p><a href="https://www.linkedin.com/in/daniel-viana-8b7ab9191/" target="blank">Visite meu linkedin</a></p>
